<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../assets/css/login.css" />
		<!-- tailwindcss -->
		<script src="https://cdn.tailwindcss.com"></script>
		<!-- fontawesome -->
		<script
			src="https://kit.fontawesome.com/d5e15c66ab.js"
			crossorigin="anonymous"
		></script>
		<title>Masuk - {{ app_name }}</title>
	</head>
	<body class="p-0">
		<div class="h-screen flex justify-center items-center background">
			<div class="rounded-md bg-white p-7">
				<div
					class="text-lg hover:text-orange-400 duration-500 transition-all"
				>
					<a href="/"
						><i class="fa-sharp fa-solid fa-left-long"></i
					></a>
				</div>
				<h1 class="text-slate-700 mt-2 font-bold text-2xl text-center">
					Login
				</h1>
				<form action="/login" class="mt-10" method="POST">
					<div class="flex">
						<div
							class="rounded-l-md bg-orange-400 text-white w-10 py-1 flex items-center justify-center"
						>
							<i class="fa-solid fa-user"></i>
						</div>
						<input
							class="border border-orange-400 rounded-r-md h-10 px-3 w-60 !outline-none"
							type="text"
							name="username"
							placeholder="Username"
							required
						/>
					</div>
					{% if error != nil %}
						{% if error.UsernameError != "" %}
							<div class="flex justify-end text-xs text-red-500">
								<span>*{{ error.UsernameError }}</span>
							</div>
						{% endif %}
					{% endif %}
					<div class="flex mt-2">
						<div
							class="rounded-l-md bg-orange-400 text-white w-10 py-1 flex items-center justify-center"
						>
							<i class="fa-solid fa-lock"></i>
						</div>
						<input
							class="border border-orange-400 rounded-r-md h-10 px-3 w-60 !outline-none"
							type="password"
							name="password"
							placeholder="Password"
							required
						/>
					</div>
					{% if error != nil %}
						{% if error.PasswordError != "" %}
							<div class="flex justify-end text-xs text-red-500">
								<span>*{{ error.PasswordError }}</span>
							</div>
						{% endif %}
					{% endif %}
					<div class="flex mt-10 justify-center">
						<button
							type="submit"
							class="w-full rounded-md bg-orange-400 text-white py-2 font-bold hover:bg-orange-500 hover:text-slate-300 duration-500 transition-all"
						>
							Masuk
						</button>
					</div>
					<div class="text-orange-400 mt-3 text-center text-sm">
						<a href="/register" class="underline">Daftar disini !</a>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
